*{
    font-family: 'Open Sans', sans-serif;
    color:  #f2f4f3;
}
body{
    background-color:  #06aed5;
}
.calculator-container{
    background-color: #086787;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
    border-radius: 20px;
    margin: 50px auto;
}
.second-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.title{
    font-size: 1.5rem;
    font-weight: 500;
}
.inputContainer{
    background-color: #06aed5;
    border-radius: 20px;
    padding-left: 15px;
}
.input{
    background-color: #06aed5;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color:  #f2f4f3;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder {
        
    /* Firefox, Chrome, Opera */
    color: #f2f4f3;
}
  
:-ms-input-placeholder {
    
    /* Internet Explorer 10-11 */
    color: #f2f4f3;
}
  
::-ms-input-placeholder {
    
    /* Microsoft Edge */
    color: #f2f4f3;
}
.symbol{
    font-size: 1.4rem;
    color: #f2f4f3;
}
.buttonContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.buttonContainer p{
    font-size: 2rem;
    margin: 0;
}
.btn{
    background-color: #06aed4;
    color:  #f2f4f3;
    font-size: 1.5rem;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
}
.total{
    font-size: 2rem;
    margin: 0;
}
